<html>
<head>
	<title>Darkness by Joe Wegner</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="/javascripts/jquery.js"></script>
	<script type="text/javascript" src="/javascripts/main.js"></script>
	<style type="text/css">

	</style>
</head>
<body>
	<div id="header">
		<div id="floatHeader">
			<h1>Darkness</h1>
		</div>
	</div>
	<div id="body">{{ content }}</div>
</body>
</html>
